<!DOCTYPE html>
<html lang="en">
#include("/head.html",title="百宝箱")
#include("/tags.html")
<style>
    .layui-card {
    }

    .layui-row {
        margin-bottom: 12px;
    }
</style>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card layui-col-lg6">
            <div class="layui-card-header">
                一、地图选择器#@table('xx')
            </div>
            <div class="layui-card-body layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">绑定地图</label>
                    <div class="layui-input-block">
                        <input id="maplocal" placeholder="请输入选择坐标"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">回调设置</label>
                    <div class="layui-input-inline">
                        <input readonly id="maplocal2" placeholder="请输入选择坐标"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-label">
                        <button id="openMap" class="layui-btn layui-btn-sm layui-btn-danger">打开地图</button>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">使用方法</h2>
                            <div class="layui-colla-content">
                                <ul>
                                    <li>1. 引入kit模块</li>
                                    <li>
<pre class="layui-code">
//获取工具
let kit = layui.kit;

//方式1:绑定输入框
kit.bindMap("#maplocal");
//方式2:创建map对象
let map = kit.buildMap();
$("#openMap").click(() => {
   map.open((e) => {
        //使用回调函数设置
        $("#maplocal2").val(e);
    });
});
</pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-card layui-col-lg6">
            <div class="layui-card-header">
                二、下拉框(填充数据)
            </div>
            <div class="layui-card-body layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">静态下拉框</label>
                    <div class="layui-input-inline">
                        <select id="selectDom" class="layui-input"></select>
                    </div>
                    <div style="width: auto" class="layui-form-label">
                        js配置数据
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">远程下拉框</label>
                    <div class="layui-input-inline">
                        <select id="selectDom2" class="layui-input"></select>
                    </div>
                    <div style="width: auto" class="layui-form-label">
                        从/kitbox/selectData获取数据
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">使用方法</h2>
                            <div class="layui-colla-content">
                                <ol>
                                    <li>1. 引入kit模块</li>
                                    <li>
<pre class="layui-code">
//获取工具
let kit = layui.kit;

//1.js生成静态选项
let selector = kit.buildSelector("#selectDom");
//data->设置选项数组 append->追加选项
selector.data([{text: "大猪x", value: "bpig"}]).append({text: "小猪t", value: "spig"});

//远程数据
let selector2 = kit.buildSelector("#selectDom2");
selector2.loadUrl("/kitbox/selectData", (e) => {
    //成功加载后
    console.log(e.data());
});

//3.更多
//i.设置下拉框值
//selector.val("spig");
//ii.删除value为spig的选项
//selector.del("spig");
//iii.配置显示字段和数据字段
//kit.buildSelector("选择器",{text:"显示字段",value:"数据字段});
//iv.获取所有选项
//selector.data();
</pre>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console', 'kit', 'element', 'code', 'form'], function () {
        let $ = layui.$, form = layui.form;
        layui.code({
            title: '详细代码'
        });
        //获取工具
        let kit = layui.kit;

        //=================地图选择器=====================
        //方式1:绑定输入框
        kit.bindMap("#maplocal");
        //方式2:创建map对象
        let map = kit.buildMap();
        $("#openMap").click(() => {
            map.open((e) => {
                //使用回调函数设置
                $("#maplocal2").val(e);
            });
        });
        //===============================================
        //=================下拉框=========================
        //静态生成
        let selector = kit.buildSelector("#selectDom");
        //data->设置选项数组 append->追加选项
        selector.data([{text: "大猪x", value: "bpig"}]).append({text: "小猪t", value: "spig"});

        //远程数据
        let selector2 = kit.buildSelector("#selectDom2");
        //远程加载数据
        selector2.loadUrl("/util/selectData", (e) => {
            //成功加载后
            console.log(e.data());
        });

    });
</script>
</body>
</html>